@model IEnumerable<IITS_Programming_Club.Models.Complain>

    <div class="container">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.student_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.message)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.student_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.message)
                        </td>
                        <td>
                            <a onclick="return confirm('Are you sure you want to delete @item.student_id?')" asp-controller="Admin" asp-action="DeleteComplain" asp-route-id="@item.student_id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>