@model IEnumerable<IITS_Programming_Club.Models.Notice>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.notice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.notice)
                        </td>
                        <td>
                            <a onclick="return confirm('Are you sure you want to delete @item.notice_id?')" asp-controller="Admin" asp-action="DeleteNotice" asp-route-id="@item.notice_id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>